* text=auto eol=lf

*.cs    text eol=lf
*.csproj text eol=lf
*.props  text eol=lf
*.targets text eol=lf
*.json  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.sh    text eol=lf
*.md    text eol=lf

*.png   binary
*.jpg   binary
*.ico   binary
*.pfx   binary
*.p12   binary
